<% if resource.errors.any? %>
  <div id="error_explanation" role="alert" data-turbo-cache="false" class="flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-3 flex-shrink-0 inline">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
    </svg>
    <span class="sr-only">Warning</span>
    <div>
      <span class="font-medium">
        <%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase)%>
      </span>
      <ul class="max-w-md space-y-1 mt-1.5 ml-4 text-red-800 list-disc list-insid ">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
