<% if user_signed_in? %>
  <header class="bg-white shadow">
    <div class="flex mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <% if %w[accounts transactions].include?(controller_name) %>
        <%= link_to "Connections", root_path, class: "text-2xl underline text-indigo-500" %>
        <span class="mx-2 text-gray-400 text-2xl ">/</span>
      <% end %>

      <% if controller_name == "transactions" %>
        <%= link_to "Accounts", connection_accounts_path(@account.connection), class: "text-2xl underline text-indigo-500" %>
        <span class="mx-2 text-gray-400 text-2xl">/</span>
      <% end %>
      
      <h3 class="text-2xl font-bold tracking-tight text-gray-900">
        <%= controller_name == "user_profiles" ? controller_name.humanize.singularize : controller_name.humanize %>
      </h3>
    </div>
  </header>
<% end %>
